body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    height: 13vh; /* Verifique se isso está proporcionando altura suficiente */
    padding: 0 10%; /* Verifique se o padding não está escondendo o logo */
    background-color: rgb(229, 229, 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-image: url('../imagens/Logotipo.png'); /* Atualize o caminho conforme necessário */
    background-size: cover; /* Garante que o logo preencha todo o espaço do contêiner */
    background-repeat: no-repeat;
    background-position: center; /* Centraliza a imagem de fundo */
    width: 13vh; /* Ajuste conforme necessário para o tamanho desejado */
    height: 11vh; /* A mesma medida da largura para criar um círculo perfeito */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul {
    list-style: none;
    display: flex;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 2.5vh;
    margin-left: 6vh;
}

.about-section {
    padding: 4em 2em;
    background-color: #f9f9f9;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin: 1.5em 0 0.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

.team-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2em;
}

.team-member {
    flex: 1 1 30%;
    max-width: 30%;
    margin: 1em;
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1em;
}

footer {
    background-color: #333; /* Cor de fundo do rodapé */
    text-align: center;
    padding: 2vh 0; /* Espaçamento interno vertical */
}

.footer-content p {
    font-family: 'Open Sans', sans-serif; /* Fonte consistente com o restante do site */
    color: #fff; /* Cor do texto no rodapé */
    font-size: 1em; /* Tamanho da fonte */
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        height: auto;
        padding: 2vh;
    }

    .navigation ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .navigation a {
        margin: 2vh 0;
        font-size: 1.8vh;
        margin-right: 1.5vh;
    }

    .logo {
        width: 10vh;
        height: 10vh;
    }

    .about-section {
        padding: 2em 1em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.8em;
        line-height: 1.4;
    }

    .team-row {
        flex-direction: column;
        margin-top: 1em;
    }

    .team-member {
        max-width: 100%;
        margin: 1em 0;
    }

    .team-member img {
        width: 100px;
        height: 100px;
    }

    footer {
        padding: 2vh 0;
    }

    .footer-content p {
        font-size: 0.8em;
    }
}
